<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Art by Käthe Kollwitz</h1>
        <h2>A collection of the most famous pieces</h2>
        <div>
            <p>
                <img src="../public/images/images.jpg" />
            </p>
            <p>
                <img src="/public/images/images (1).jpg" />
            </p>
            <p>
                <img src="/public/images/images (2).jpg" />
            </p>
        </div>
 
    <a href="/home">Back to Home</a>
  </body>
</html>